@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FF8A00;
  --color-primary-accent: #FFA53C;
  --color-secondary: #FFF6E4;
  --color-black: #2C2C2C;
  --color-grey: #9C9C9C;
  --color-white: #FFFFFF;
  --color-light-grey: #9A9999;
  --color-shadow: rgba(159, 159, 159, 0.10);
  --color-shadow-dark: rgba(129, 129, 129, 0.10);

  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}